body{
    background-color: #232529;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 4rem;
}

.clock{
    display: flex;
    justify-content: space-evenly;
    width: 8%;
}

p{
    color: #c0c0c0;
}

.clock{
    text-shadow: 4px 4px #000000;
}